.info {
    background-color: var(--background-color-blue);
}

.info .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--background-color-blue);
}

.box {
    display:flex;
    flex:none;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 140px;
    margin-bottom: 25px;
}

.box-content {
    font-size: 1em;
    font-weight: 800;
    color: var(--font-color-2);
}

.box span {
    display: block;
    margin-bottom: 0.4em;
    font-size: 1.3em;
    font-weight: 800;
    color: var(--primary-color)
}


@media (max-width: 576px) {
    .info .container {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        /* gap: 1.5em; */
    }
    .box {
        width: 270px;
        height: 150px;
    }

    .box:last-child {
        margin-bottom: 0px;
    }

    .box-content {
        font-size: 1.2em;
        font-weight: 800;
        color: var(--font-color-2);
    }
}