.form-group {
    padding-top: 15px;
}

#inputName {
    background-color: rgb(224, 242, 254);
}

#inputEmail {
    background-color: rgb(224, 242, 254);
}

#inputMessage {
    background-color: rgb(224, 242, 254);
}

.form-group #inputMessage {
    height: 100px;
    resize: vertical;
}

.contact {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.contact p:last-child{
    margin-bottom: 2em;
}

.contact-info {
    flex: 1;
    text-align: left;
    padding-left: 1.5em;
}

.contact-info h3 {
    color: var(--font-color-2);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contact-info p {
    color: var(--font-color-2);
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-content {
    display: flex;
    align-items:center;
    height: 100%;
    width: auto;
    justify-content: center;
}

.contact-image {
    flex: 1;
    padding-left: 20px;
}


@media (max-width: 576px) {
    .contact-content {
       display: flex;
       flex-direction: column;
    }

    
    .contact-image {
        flex: 1;
        padding: 0;
        width: 100%;
    }

    .contact-info {
        flex: 1;
        padding: 0;
        padding-bottom: 10px;
        width: 100%;
    }

    .contact-info p {
        font-weight: 600;
    }

    .contact{
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
    }
}