#header {
    height: 80px;
    background: transparent;
}

#header.header-scrolled {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    height: 80px;
    background-color: var(--primary-color);
}

#header .container {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 0 0;
}

#header .logo img {
    display: block;}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav-item {
    margin: 0;
    padding: 0;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar li  {
    padding: 0px 10px;
    width: auto;
}

#navbar li a {
    font-weight: 700;
}

#navbar li button {
    padding: 4px 8px;
    margin: 0px 0px;
    background-color: var(--secondary-color);
    color: var(--font-color-1);
    font-weight: 600;
    border: 0;
    border-radius: var(--border-radius);
}

#navbar li a:hover {
    color: lightgray;
}

#navbar li button:hover {
    color: lightgray;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--font-color-1);
}

@media (max-width: 576px) {

    #header .container {
        padding: 0rem 3rem;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
    }

    .navbar-nav {
        justify-self: center;
        width: auto;
    }

    .nav-item {
        width: 100%;
    }

    #navbar li button {
        font-weight: 600;
        width: 100%;
    }
    .menu-toggle {
        display: block;
        font-size: 2.6rem;
    }
}

